@import "tailwindcss";

:root {
  --foreground-rgb: 17, 24, 39; /* slate-900 */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 229, 231, 235; /* gray-200 */
  --background-start-rgb: 17, 24, 39; /* slate-900 */
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  transition: background 0.2s, color 0.2s;
}
